* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* cursor: none; */

  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  user-select: none;
  /* mix-blend-mode: difference; */
  overscroll-behavior: none;
  /* safari */
  -webkit-overflow-scrolling: touch;

  font-size: 75%;

  /* smooth scroll */
  scroll-behavior: smooth;
}
